@import '../../helpers/Variables.scss';

.sports,
.jacekts,
.coats,
.t-shirts,
.outerwear,
.pans {
    margin-top: 100px;
    padding: $paddingBetweenSections 0;
    .sidebar {
        .uk-accordion-title {
            font-size: 17px;
        }
        h6 {
            margin: 0;
        }
    }
    .main {
        h3 {
            color: $mainDark;
        }
        p {
            line-height: 1.77;
            margin-bottom: 30px;
        }
        .uk-pagination {
            margin-top: 30px;
        }
    }
    // box style
    .new {
        background: $mainDark;
        color: $mainLight;
        padding: 5px;
    }
    .discount {
        background: rgb(236, 79, 79);
        color: $mainLight;
        padding: 5px;
    }

    .box {
        .uk-position-center {
            width: 100%;
        }
        .product-info {
            padding: 30px 0;
            h4 {
                color: $mainLight;
                margin-bottom: 15px;
            }
            a {
                margin-bottom: 15px;
                display: block;
            }
        }
        &:hover {
            .product-info {
                background: rgba(0, 0, 0, .60);
                transition: background .2s ease-in-out;
            }
        }
    }
}

button {
    all: unset;
    cursor: pointer;
}