@import '../../helpers/Variables.scss';
@import '../../helpers/Mixins.scss';

.discover-more {
    padding-top: $paddingBetweenSections;
    .discover-info {
        background: $mainDark;
        padding: 100px 0;
        @include btnHoverEffect;
        h3 {
            color: $mainLight;
            margin-top: 40px;
        }
        .uk-divider-small {
            margin: 0;
        }
        p {
            color: #aaa;
            line-height: 2;
            max-width: 620px;
            margin: 20px auto;
        }
    }
}